{% extends 'base_index.html' %}

{% block tile %} Customer List {% endblock %}

{% block content %}

    <!-- templates/customers/index.html -->

<h1>Products</h1>

<ul>
  {% for product in products %}
    <li>{{ product.name }}</li>
    <li>{{ product.quantity }}</li>
    <li>{{ product.price }}</li>
    <a class="btn btn-outline-secondary" href="#">Edit Profile</a>
    <a class="btn btn-outline-secondary" href="#">Delete Profile</a>
    <a class="btn btn-outline-secondary" href="#">Add Interaction</a>

    {% endfor %}
</ul>


{% endblock %}